* {
  margin: 0;
  padding: 0;
}
input {
  outline: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
img {
  display: block;
}
#wrap {
  /*头部*/
  /*导航*/
  /*内容*/
  /*底部*/
}
#wrap .headerWrap {
  width: 100%;
  background-color: #e0d03d;
}
#wrap .headerWrap .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1226px;
  margin: 0 auto;
}
#wrap .headerWrap .header .logo {
  width: 132px;
  height: 60px;
  align-self: center;
}
#wrap .headerWrap .header .logo a {
  width: 100%;
  height: 100%;
}
#wrap .headerWrap .header .logo a img {
  height: 100%;
}
#wrap .headerWrap .header .headerLeft a {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
#wrap .headerWrap .header .headerLeft a img {
  width: 100%;
}
#wrap .headerWrap .header .headerRight .register {
  overflow: hidden;
  margin-left: 30px;
  margin-top: 60px;
}
#wrap .headerWrap .header .headerRight .register li {
  float: left;
  width: 58px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
#wrap .headerWrap .header .headerRight .register li a {
  color: #ffffff;
}
#wrap .headerWrap .header .headerRight .search_input {
  margin-top: 10px;
}
#wrap .headerWrap .header .headerRight .search_input i {
  position: relative;
  left: 30px;
  color: #e0d03d;
}
#wrap .headerWrap .header .headerRight .search_input input[type='text'] {
  display: inline-block;
  width: 250px;
  border-radius: 15px;
  height: 30px;
  text-indent: 30px;
  border: 1px solid #DEDEDE;
}
#wrap .headerWrap .header .headerRight .search_input input[type='text']:focus {
  border: 1px solid #e0d03d;
}
#wrap .navWrap {
  width: 100%;
  background-color: #e0d03d;
}
#wrap .navWrap .navList {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1226px;
  margin: 0 auto;
}
#wrap .navWrap .navList .navItem {
  padding: 8px 0;
}
#wrap .navWrap .navList .navItem.navSmall {
  position: relative;
}
#wrap .navWrap .navList .navItem.navSmall .smallList {
  position: absolute;
  top: 39px;
  left: -10px;
  width: 114px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #e0d03d;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 1s;
}
#wrap .navWrap .navList .navItem.navSmall .smallList a {
  margin-left: 5px;
  margin-top: 5px;
  display: block;
  color: #e0d03d;
  font-size: 16px;
}
#wrap .navWrap .navList .navItem.navSmall .smallList a:hover {
  color: #daa426;
}
#wrap .navWrap .navList .navItem a {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
#wrap .navWrap .navList .navItem:hover .itemCon,
#wrap .navWrap .navList .navItem:hover .smallList {
  opacity: 1;
  z-index: 5;
}
#wrap .navWrap .navList .navItem .itemCon {
  position: absolute;
  left: 0;
  top: 39px;
  width: 1226px;
  padding: 29px;
  box-sizing: border-box;
  border: 1px solid #e0d03d;
  background-color: white;
  opacity: 0;
  transition: opacity 1s;
}
#wrap .navWrap .navList .navItem .itemCon .itemConText {
  float: left;
  width: 114px;
  height: 300px;
  box-sizing: border-box;
}
#wrap .navWrap .navList .navItem .itemCon .itemConText a {
  margin-left: 5px;
  margin-top: 5px;
  display: block;
  color: #e0d03d;
  font-size: 16px;
}
#wrap .navWrap .navList .navItem .itemCon .itemConText a:hover {
  color: #daa426;
}
#wrap .navWrap .navList .navItem .itemCon .itemConImg {
  float: left;
  width: 300px;
  margin-left: 50px;
}
#wrap .navWrap .navList .navItem .itemCon .itemConImg a {
  position: relative;
  display: block;
}
#wrap .navWrap .navList .navItem .itemCon .itemConImg a img {
  width: 100%;
}
#wrap .navWrap .navList .navItem .itemCon .itemConImg a span {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  color: #e0d03d;
  z-index: 10;
}
#wrap .navWrap .navList .navItem .itemCon .itemConImg a .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 300px;
  background-color: rgba(225, 225, 225, 0.4);
  display: none;
}
#wrap .navWrap .navList .navItem .itemCon .itemConImg a:hover .mask {
  display: block;
}
#wrap .contentWrap {
  width: 100%;
  /*内容展示*/
  /*event*/
  /*follow us*/
  /*store*/
}
#wrap .contentWrap .content {
  width: 1226px;
  margin: 70px auto;
}
#wrap .contentWrap .content h2 {
  font-weight: bold;
  color: #e0d03d;
  font-size: 30px;
}
#wrap .contentWrap .content .contentList {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
}
#wrap .contentWrap .content .contentList .contentItem {
  margin-top: 5px;
}
#wrap .contentWrap .content .contentList .contentItem .itemImg {
  display: block;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
#wrap .contentWrap .content .contentList .contentItem .itemImg img {
  width: 100%;
  transition: 1s;
}
#wrap .contentWrap .content .contentList .contentItem .itemImg:hover img {
  transform: scale(1.1);
}
#wrap .contentWrap .content .contentList .contentItem .itemDescribe {
  margin-top: 5px;
}
#wrap .contentWrap .content .contentList .contentItem .itemDescribe :nth-child(1) a {
  color: #e0d03d;
  font-size: 25px;
  font-weight: bold;
}
#wrap .contentWrap .content .contentList .contentItem .itemDescribe :nth-child(1) a:hover {
  text-decoration: underline;
}
#wrap .contentWrap .content .contentList .contentItem .itemDescribe :nth-child(2) {
  font-size: 16px;
}
#wrap .contentWrap .content .contentList .contentItem .itemDescribe :nth-child(3) {
  font-size: 23px;
  font-weight: bold;
  color: #e0d03d;
  margin-top: 5px;
  margin-bottom: 10px;
}
#wrap .contentWrap .content .contentList .contentItem .itemDescribe :nth-child(4) {
  overflow: hidden;
}
#wrap .contentWrap .content .contentList .contentItem .itemDescribe :nth-child(4) img {
  float: left;
  margin-right: 5px;
}
#wrap .contentWrap .event_box {
  background: url("../img/event.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 1226px;
  height: 400px;
  position: relative;
  margin: 90px auto 0;
}
#wrap .contentWrap .event_box a {
  display: block;
  width: 100%;
  height: 100%;
}
#wrap .contentWrap .event_box .event_txt {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -44px;
}
#wrap .contentWrap .event_box .event_txt .tit img {
  margin: 0 auto;
}
#wrap .contentWrap .event_box .event_txt .txt {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-top: 22px;
  font-weight: 300;
}
#wrap .contentWrap .followUs {
  box-sizing: border-box;
  padding: 0 40px;
  width: 1226px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap .contentWrap .followUs .folTxt {
  color: #e0d03d;
  width: 300px;
}
#wrap .contentWrap .followUs .folTxt :first-child {
  font-weight: bold;
  font-size: 40px;
}
#wrap .contentWrap .followUs .folLink {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap .contentWrap .followUs .folLink a {
  display: block;
  box-sizing: border-box;
  padding-top: 3px;
  width: 200px;
  height: 50px;
  background-color: #e0d03d;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  transition: .5s;
}
#wrap .contentWrap .followUs .folLink a:hover {
  box-shadow: 5px 7px 14px 0px #b7a929;
}
#wrap .contentWrap .followUs .folLink a span {
  vertical-align: middle;
}
#wrap .contentWrap .followUs .folLink a span.iconFont {
  font-family: "iconfont" !important;
  font-size: 40px;
  font-style: normal;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#wrap .contentWrap .storeWrap {
  width: 1226px;
  margin: 70px auto;
}
#wrap .contentWrap .storeWrap h2 {
  font-weight: bold;
  color: #e0d03d;
  font-size: 30px;
}
#wrap .contentWrap .storeWrap .store {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
#wrap .contentWrap .storeWrap .store .storeItem {
  width: 600px;
  height: 300px;
}
#wrap .contentWrap .storeWrap .store .storeItem a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#wrap .contentWrap .storeWrap .store .storeItem a:hover img {
  transform: scale(1.1);
}
#wrap .contentWrap .storeWrap .store .storeItem a:hover .storeTxt {
  transform: translateY(-60%);
}
#wrap .contentWrap .storeWrap .store .storeItem a:hover .mask {
  display: block;
}
#wrap .contentWrap .storeWrap .store .storeItem a img {
  height: 100%;
  transition: .5s;
}
#wrap .contentWrap .storeWrap .store .storeItem a .storeTxt {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  transition: .5s;
}
#wrap .contentWrap .storeWrap .store .storeItem a .storeTxt .tit {
  font-size: 32px;
  font-weight: bold;
}
#wrap .contentWrap .storeWrap .store .storeItem a .storeTxt .tel {
  margin-top: 20px;
}
#wrap .contentWrap .storeWrap .store .storeItem a .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
#wrap .footerWrap {
  width: 100%;
  background-color: #e0d03d;
}
#wrap .footerWrap .footer {
  width: 1226px;
  margin: 50px auto 0;
}
#wrap .footerWrap .footer .footerTop {
  padding-top: 30px;
  border-bottom: 1px solid #d8cccc;
}
#wrap .footerWrap .footer .footerTop .tit {
  font-size: 20px;
  color: #d8cccc;
  font-weight: bold;
}
#wrap .footerWrap .footer .footerTop .tel {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}
#wrap .footerWrap .footer .footerTop .time {
  padding: 20px 0;
  color: #d8cccc;
}
#wrap .footerWrap .footer .footerBottom {
  padding: 20px 0;
}
#wrap .footerWrap .footer .footerBottom p {
  color: #d8cccc;
}
