* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
img {
  display: block;
}
#wrap {
  /*头部*/
  /*我页*/
  /*底部*/
}
#wrap .headerWrap {
  width: 100%;
  background-color: #e0d03d;
}
#wrap .headerWrap .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1226px;
  margin: 0 auto;
}
#wrap .headerWrap .header .logo {
  width: 132px;
  height: 60px;
  align-self: center;
}
#wrap .headerWrap .header .logo a {
  width: 100%;
  height: 100%;
}
#wrap .headerWrap .header .logo a img {
  height: 100%;
}
#wrap .headerWrap .header .headerLeft a {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
#wrap .headerWrap .header .headerLeft a img {
  width: 100%;
}
#wrap .headerWrap .header .headerRight .register {
  overflow: hidden;
  margin-left: 30px;
  margin-top: 60px;
}
#wrap .headerWrap .header .headerRight .register li {
  float: left;
  width: 58px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
#wrap .headerWrap .header .headerRight .register li a {
  color: #ffffff;
}
#wrap .headerWrap .header .headerRight .search_input {
  margin-top: 10px;
}
#wrap .headerWrap .header .headerRight .search_input i {
  position: relative;
  left: 30px;
  color: #e0d03d;
}
#wrap .headerWrap .header .headerRight .search_input input[type='text'] {
  display: inline-block;
  width: 250px;
  border-radius: 15px;
  height: 30px;
  text-indent: 30px;
  border: 1px solid #DEDEDE;
}
#wrap .headerWrap .header .headerRight .search_input input[type='text']:focus {
  border: 1px solid #e0d03d;
}
#wrap .myWrap {
  width: 1226px;
  height: 700px;
  margin: 0 auto;
  overflow: hidden;
}
#wrap .myWrap .myNav {
  height: 700px;
  float: left;
  border: 1px solid #DEDEDE;
}
#wrap .myWrap .myNav .myNavTop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 198px;
  height: 200px;
}
#wrap .myWrap .myNav .myNavTop img {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 50%;
}
#wrap .myWrap .myNav .myNavTop p {
  font-weight: bold;
  flex: 0.5;
}
#wrap .myWrap .myNav .myNavBot {
  width: 198px;
  height: 500px;
}
#wrap .myWrap .myNav .myNavBot ul {
  text-align: center;
  height: 100%;
}
#wrap .myWrap .myNav .myNavBot ul li {
  margin-bottom: 25px;
}
#wrap .myWrap .myNav .myNavBot ul li a {
  color: #E0D03D;
  font-weight: bold;
}
#wrap .myWrap .myNav .myNavBot ul li a:hover {
  opacity: 0.8;
}
#wrap .myWrap .myNav .myNavBot ul li.active {
  width: 100px;
  margin: 0 auto 25px auto;
  box-shadow: 5px 5px 4px 2px #E0D03D;
}
#wrap .myWrap .myContent {
  float: right;
  height: 700px;
  border: 1px solid #DEDEDE;
}
#wrap .myWrap .myContent .mySet .setTop {
  width: 1024px;
  height: 100px;
  border-bottom: 2px solid #DEDEDE;
}
#wrap .myWrap .myContent .mySet .setTop li {
  float: left;
  height: 100px;
  line-height: 100px;
  padding: 0 20px;
}
#wrap .myWrap .myContent .mySet .setTop li a {
  color: #E0D03D;
  font-weight: bold;
}
#wrap .myWrap .myContent .mySet .setTop li a:hover {
  opacity: 0.8;
}
#wrap .myWrap .myContent .mySet .setTop .active {
  border-bottom: 5px solid #E0D03D;
}
#wrap .myWrap .myContent .mySet .setCon {
  padding-left: 20px;
}
#wrap .myWrap .myContent .mySet .setCon .formTab .photoWrap {
  width: 128px;
  margin-left: 150px;
}
#wrap .myWrap .myContent .mySet .setCon .formTab .photoWrap .loadPhoto {
  position: relative;
}
#wrap .myWrap .myContent .mySet .setCon .formTab .photoWrap .loadPhoto p {
  text-align: center;
  width: 100%;
  border: 1px solid #DEDEDE;
}
#wrap .myWrap .myContent .mySet .setCon .formTab .photoWrap .loadPhoto input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
}
#wrap .myWrap .myContent .mySet .setCon .formTab .nickname {
  margin-top: 40px;
  margin-left: 100px;
}
#wrap .myWrap .myContent .mySet .setCon .formTab .nickname input {
  width: 400px;
  height: 30px;
}
#wrap .myWrap .myContent .mySet .setCon .formTab .selectWrap {
  margin-top: 40px;
  margin-left: 100px;
}
#wrap .myWrap .myContent .mySet .setCon .formTab .selectWrap .selects {
  width: 107px;
  height: 25px;
}
#wrap .myWrap .myContent .mySet .setCon .formTab .sex {
  margin-top: 40px;
  margin-left: 100px;
}
#wrap .myWrap .myContent .mySet .setCon .formTab .sex label {
  margin-right: 20px;
}
#wrap .myWrap .myContent .mySet .setCon .formTab .signature {
  margin-top: 40px;
  margin-left: 65px;
}
#wrap .myWrap .myContent .mySet .setCon .formTab .signature textarea {
  width: 400px;
  resize: none;
  vertical-align: top;
}
#wrap .myWrap .myContent .mySet .setCon .formTab .save {
  margin-left: 500px;
  margin-top: 20px;
}
#wrap .myWrap .myContent .mySet .setCon .formTab .save button {
  width: 50px;
  height: 30px;
  background-color: white;
  border: 1px solid #DEDEDE;
  outline: none;
}
#wrap .myWrap .myContent .mySet .setCon .formTab .save button:hover {
  border: 1px solid #E0D03D;
}
#wrap .footerWrap {
  width: 100%;
  background-color: #e0d03d;
}
#wrap .footerWrap .footer {
  width: 1226px;
  margin: 0 auto 0;
}
#wrap .footerWrap .footer .footerTop {
  padding-top: 30px;
  border-bottom: 1px solid #d8cccc;
}
#wrap .footerWrap .footer .footerTop .tit {
  font-size: 20px;
  color: #d8cccc;
  font-weight: bold;
}
#wrap .footerWrap .footer .footerTop .tel {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}
#wrap .footerWrap .footer .footerTop .time {
  padding: 20px 0;
  color: #d8cccc;
}
#wrap .footerWrap .footer .footerBottom {
  padding: 20px 0;
}
#wrap .footerWrap .footer .footerBottom p {
  color: #d8cccc;
}
