* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
img {
  display: block;
}
#wrap {
  /*头部*/
  /*导航*/
  /*我页*/
  /*底部*/
  /*回到顶部*/
  /*fixed导航*/
}
#wrap .headerWrap {
  width: 100%;
  background-color: #e0d03d;
}
#wrap .headerWrap .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1226px;
  margin: 0 auto;
}
#wrap .headerWrap .header .logo {
  width: 132px;
  height: 60px;
  align-self: center;
}
#wrap .headerWrap .header .logo a {
  width: 100%;
  height: 100%;
}
#wrap .headerWrap .header .logo a img {
  height: 100%;
}
#wrap .headerWrap .header .headerLeft a {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
#wrap .headerWrap .header .headerLeft a img {
  width: 100%;
}
#wrap .headerWrap .header .headerRight .register {
  overflow: hidden;
  margin-left: 30px;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}
#wrap .headerWrap .header .headerRight .register li {
  float: left;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
}
#wrap .headerWrap .header .headerRight .register li a {
  color: #ffffff;
  font-size: 20px;
}
#wrap .headerWrap .header .headerRight .search_input {
  margin-top: 10px;
}
#wrap .headerWrap .header .headerRight .search_input i {
  position: relative;
  left: 30px;
  color: #e0d03d;
}
#wrap .headerWrap .header .headerRight .search_input input[type='text'] {
  display: inline-block;
  width: 250px;
  border-radius: 15px;
  height: 30px;
  text-indent: 30px;
  border: 1px solid #DEDEDE;
}
#wrap .headerWrap .header .headerRight .search_input input[type='text']:focus {
  outline: none;
}
#wrap .navWrap {
  width: 100%;
  background-color: #e0d03d;
}
#wrap .navWrap .navList {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1226px;
  height: 40px;
  margin: 0 auto;
}
#wrap .navWrap .navList .navItem {
  padding: 8px 0;
}
#wrap .navWrap .navList .navItem.navSmall {
  position: relative;
}
#wrap .navWrap .navList .navItem.navSmall .smallList {
  position: absolute;
  top: 40px;
  left: -10px;
  width: 114px;
  height: 0;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #e0d03d;
  background-color: #ffffff;
  opacity: 0;
  transition: 1s;
}
#wrap .navWrap .navList .navItem.navSmall .smallList a {
  margin-left: 5px;
  margin-top: 5px;
  display: block;
  color: #e0d03d;
  font-size: 16px;
}
#wrap .navWrap .navList .navItem.navSmall .smallList a:hover {
  text-shadow: 2px 2px 1px #b18b26;
}
#wrap .navWrap .navList .navItem a {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
#wrap .navWrap .navList .navItem:hover .text {
  text-shadow: 3px 3px 3px #42630e;
}
#wrap .navWrap .navList .navItem:hover .itemCon {
  height: 355px;
  z-index: 5;
  opacity: 1;
  padding: 29px;
}
#wrap .navWrap .navList .navItem:hover .smallList {
  z-index: 5;
  height: 200px;
  opacity: 1;
}
#wrap .navWrap .navList .navItem .itemCon {
  position: absolute;
  left: 0;
  top: 39px;
  width: 1226px;
  height: 0;
  box-sizing: border-box;
  border: 1px solid #e0d03d;
  background-color: white;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
}
#wrap .navWrap .navList .navItem .itemCon .itemConText {
  float: left;
  width: 114px;
  height: 300px;
  box-sizing: border-box;
}
#wrap .navWrap .navList .navItem .itemCon .itemConText a {
  margin-left: 5px;
  margin-top: 5px;
  display: block;
  color: #e0d03d;
  font-size: 16px;
}
#wrap .navWrap .navList .navItem .itemCon .itemConText a:hover {
  text-shadow: 2px 2px 1px #b18b26;
}
#wrap .navWrap .navList .navItem .itemCon .itemConImg {
  float: left;
  width: 300px;
  margin-left: 50px;
}
#wrap .navWrap .navList .navItem .itemCon .itemConImg a {
  position: relative;
  display: block;
  overflow: hidden;
}
#wrap .navWrap .navList .navItem .itemCon .itemConImg a img {
  width: 100%;
  transition: 1s;
}
#wrap .navWrap .navList .navItem .itemCon .itemConImg a span {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  color: #e0d03d;
  z-index: 10;
}
#wrap .navWrap .navList .navItem .itemCon .itemConImg a .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 300px;
  background-color: rgba(225, 225, 225, 0.4);
  display: none;
}
#wrap .navWrap .navList .navItem .itemCon .itemConImg a:hover .mask {
  display: block;
}
#wrap .navWrap .navList .navItem .itemCon .itemConImg a:hover img {
  transform: scale(1.4) rotate(10deg);
}
#wrap .myWrap {
  width: 1226px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}
#wrap .myWrap .nav {
  height: 600px;
  width: 198px;
  float: left;
  border: 1px solid #DEDEDE;
}
#wrap .myWrap .nav .navUp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
#wrap .myWrap .nav .navUp img {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 50%;
}
#wrap .myWrap .nav .navUp p {
  font-weight: bold;
  flex: 0.5;
}
#wrap .myWrap .nav .navDown {
  height: 400px;
}
#wrap .myWrap .nav .navDown ul {
  text-align: center;
  height: 100%;
}
#wrap .myWrap .nav .navDown ul li {
  margin-bottom: 25px;
}
#wrap .myWrap .nav .navDown ul li a {
  color: #E0D03D;
  font-weight: bold;
}
#wrap .myWrap .nav .navDown ul li a:hover {
  opacity: 0.8;
}
#wrap .myWrap .nav .navDown ul li.active {
  width: 100px;
  margin: 0 auto 25px auto;
  box-shadow: 1px 1px 1px 1px #E0D03D;
}
#wrap .myWrap .contentWrap {
  float: left;
  width: 1025px;
  height: 600px;
  border-right: 1px solid #DEDEDE;
}
#wrap .myWrap .contentWrap .content {
  position: relative;
  margin-left: 200px;
}
#wrap .myWrap .contentWrap .content .basicInfo {
  position: absolute;
  left: 0;
  top: 0;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .photoWrap {
  width: 128px;
  margin-top: 10px;
  margin-left: 90px;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .photoWrap .loadPhoto {
  position: relative;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .photoWrap .loadPhoto p {
  text-align: center;
  width: 100%;
  border: 1px solid #DEDEDE;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .photoWrap .loadPhoto input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .nickname {
  margin-top: 40px;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .nickname input {
  width: 400px;
  height: 30px;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .nickname input:disabled {
  background-color: white;
  border: none;
  font-weight: bold;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .selectWrap {
  margin-top: 40px;
  margin-left: 6px;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .selectWrap .selects {
  width: 107px;
  height: 25px;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .selectWrap .selects:disabled {
  background-color: white;
  border: none;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .sex {
  margin-top: 40px;
  margin-left: 15px;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .sex label {
  margin-right: 20px;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .signature {
  margin-top: 40px;
  margin-left: -3px;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .signature textarea {
  width: 400px;
  height: 100px;
  resize: none;
  vertical-align: top;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .signature textarea:disabled {
  background-color: white;
  border: none;
  font-weight: bold;
  font-family: Arial;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .save {
  margin-left: 410px;
  margin-top: 20px;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .save button {
  width: 50px;
  height: 30px;
  background-color: white;
  border: 1px solid #DEDEDE;
  outline: none;
}
#wrap .myWrap .contentWrap .content .basicInfo .formTab .save button:hover {
  border: 1px solid #E0D03D;
}
#wrap .myWrap .contentWrap .content .postInfo {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
#wrap .myWrap .contentWrap .content .postInfo .postTop {
  margin-top: 40px;
}
#wrap .myWrap .contentWrap .content .postInfo .postTop .add {
  width: 100px;
  height: 35px;
  background-color: #E0D03D;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}
#wrap .myWrap .contentWrap .content .postInfo .postList {
  margin-top: 40px;
}
#wrap .myWrap .contentWrap .content .postInfo .postList .postItem {
  width: 600px;
  height: 100px;
  border: 1px solid #DEDEDE;
}
#wrap .footerWrap {
  width: 100%;
  background-color: #e0d03d;
}
#wrap .footerWrap .footer {
  width: 1226px;
  margin: 50px auto 0;
}
#wrap .footerWrap .footer .footerTop {
  padding-top: 30px;
  border-bottom: 1px solid #d8cccc;
}
#wrap .footerWrap .footer .footerTop .tit {
  font-size: 20px;
  color: #d8cccc;
  font-weight: bold;
}
#wrap .footerWrap .footer .footerTop .tel {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}
#wrap .footerWrap .footer .footerTop .time {
  padding: 20px 0;
  color: #d8cccc;
}
#wrap .footerWrap .footer .footerBottom {
  padding: 20px 0;
}
#wrap .footerWrap .footer .footerBottom p {
  color: #d8cccc;
}
#wrap .toTop {
  position: fixed;
  bottom: 0;
  right: 0px;
  height: 50px;
  width: 50px;
  background-color: #e0d03d;
  color: #ffffff;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}
#wrap .toTop:hover {
  background-color: #f8f96d;
}
#wrap .fixedNavWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e0d03d;
  z-index: 10;
  height: 0;
  line-height: 40px;
  overflow: hidden;
  transition: height 1s;
}
#wrap .fixedNavWrap .fixedNav {
  width: 1226px;
  margin: 0 auto;
  font-size: 14px;
}
#wrap .fixedNavWrap .fixedNav .fixedNavListLeft {
  width: 400px;
  float: left;
  display: flex;
  justify-content: space-between;
}
#wrap .fixedNavWrap .fixedNav .fixedNavListLeft li a {
  font-weight: bold;
  color: #ffffff;
}
#wrap .fixedNavWrap .fixedNav .fixedNavListMiddle {
  float: left;
  margin-left: 50px;
  font-style: italic;
}
#wrap .fixedNavWrap .fixedNav .fixedNavListMiddle li:first-child {
  float: left;
}
#wrap .fixedNavWrap .fixedNav .fixedNavListMiddle li:first-child a {
  color: #ffffff;
}
#wrap .fixedNavWrap .fixedNav .fixedNavListMiddle li:last-child {
  float: left;
  margin-left: 14px;
}
#wrap .fixedNavWrap .fixedNav .fixedNavListMiddle li:last-child a {
  color: #ec3434;
  text-decoration: underline;
}
#wrap .fixedNavWrap .fixedNav .fixedNavListRight {
  width: 100px;
  float: right;
  display: flex;
  justify-content: space-between;
}
#wrap .fixedNavWrap .fixedNav .fixedNavListRight li a {
  color: #ffffff;
}
